<header>
  <section>

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top nav-menu">
      <a routerLink="/home" routerLinkActive  class="navbar-brand brand-logo">TrailersMovies</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse row" id="collapsibleNavbar">

        <div class="col-9">
          <nav *ngIf="user" class="navbar-nav justify-content-start pl-5">
            <form class="form-inline nav-item btn-user">
              <input class="form-control form-control-sm mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-sm btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>

            <div class="dropdown">
              <button type="button" class="btn btn-sm btn-outline-light nav-item dropdown-toggle" data-toggle="dropdown" id="generesDropdown" aria-haspopup="true" aria-expanded="false">All Genres</button>
                <div class="dropdown-menu" aria-labelledby="generesDropdown">
                  <a class="dropdown-item" routerLink="/action" routerLinkActive>Action</a>
                  <a class="dropdown-item" routerLink="/comedy" routerLinkActive>Comedy</a>
                  <a class="dropdown-item" routerLink="/drama" routerLinkActive>Drama</a>
                  <a class="dropdown-item" routerLink="/horror" routerLinkActive>Horror</a>
                  <a class="dropdown-item" routerLink="/sci-fi" routerLinkActive>Sci-Fi</a>
                  <a class="dropdown-item" routerLink="/thriller" routerLinkActive>Thriller</a>
                </div>
            </div>
          </nav>
        </div>
        <div class="col-3">
          <nav class="navbar-nav nav-fill">
            <button type="button" class="btn btn-sm btn-outline-light nav-item mr-2" [routerLink]="['/login']" routerLinkActive="router-link-active"  *ngIf="!user">Log-In</button>
            <button type="button" class="btn btn-sm btn-outline-light nav-item" [routerLink]="['/signup']" routerLinkActive="router-link-active"  *ngIf="!user">Sign-Up</button>

            <h5 class="text-white mr-4" *ngIf="user">Hi - {{ user?.displayName }}</h5>
            <button type="button" class="btn btn-sm btn-outline-light nav-item" *ngIf="user" (click)="logout()">Logout</button>
          </nav>

        </div>

      </div>
    </nav>

  </section>
</header>
