<header>
  <section>

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top nav-menu">
      <a routerLink="/home" routerLinkActive  class="navbar-brand brand-logo">TrailersMovies</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse row" id="collapsibleNavbar">

        <div class="col-6">
          <nav *ngIf="user" class="navbar-nav justify-content-center pl-5">
            <div class="form-inline form-group nav-item btn-user">
              <button type="button" class="btn btn-sm btn-outline-light nav-item px-3" [routerLink]="['/search']" routerLinkActive="router-link-active" ><i class="fas fa-search mr-1"></i>Search</button>
            </div>
            <div class="dropdown">
              <button type="button" class="btn btn-sm btn-outline-light nav-item dropdown-toggle" data-toggle="dropdown" id="generesDropdown" aria-haspopup="true" aria-expanded="false">All Genres</button>
                <div class="dropdown-menu" aria-labelledby="generesDropdown">
                  <a class="dropdown-item" routerLink="/action" routerLinkActive>Action</a>
                  <a class="dropdown-item" routerLink="/comedy" routerLinkActive>Comedy</a>
                  <a class="dropdown-item" routerLink="/drama" routerLinkActive>Drama</a>
                  <a class="dropdown-item" routerLink="/horror" routerLinkActive>Horror</a>
                  <a class="dropdown-item" routerLink="/sci-fi" routerLinkActive>Sci-Fi</a>
                  <a class="dropdown-item" routerLink="/thriller" routerLinkActive>Thriller</a>
                </div>
            </div>
          </nav>
        </div>
        <div class="col-6">
          <nav class="navbar-nav justify-content-end">
            <button type="button" class="btn btn-sm btn-outline-light nav-item mr-2 px-3" [routerLink]="['/login']" routerLinkActive="router-link-active"  *ngIf="!user">Log-In</button>
            <button type="button" class="btn btn-sm btn-outline-light nav-item px-3" [routerLink]="['/signup']" routerLinkActive="router-link-active"  *ngIf="!user">Sign-Up</button>

            <p class="text-white mr-4" *ngIf="user"><i class="far fa-user mr-1"></i> {{ user?.displayName }}</p>
            <button type="button" class="btn btn-sm btn-outline-light nav-item px-3" *ngIf="user" (click)="logout()">Logout</button>
          </nav>
        </div>
      </div>
    </nav>
  </section>
</header>
