section {
  padding-top: 100px;
}

.card-movies {
  background-color: black;
  text-align: center;
  max-width: 200px;
  height: 400px;
  object-fit: cover;
}

.btn-movies {
  text-align: end;
}

.card-title {
  margin: 0 1%;
}

.videos, .videos:hover {
color:white;
}

.videoList {
list-style-type: none;
padding: 0;
}
