.card-movies {
  background-color: black;
  text-align: center;
  max-width: 150px;
  object-fit: cover;
}

.card-title {
  margin: 0 1%;
  font-size: 0.8em;
}

.videos, .videos:hover {
color:white;
}

.videoList {
  list-style-type: none;
}

.video-search {
  padding-top: 10%;
  background-color: black;
  height: 100%;
}


/* MEDIA QUERY */

@media only screen and (max-width: 600px) {
  .video-search {
    padding-top: 25%;
  }

  .btn-bh {
    margin-bottom: 5%;
  }
}
